* {
background-color: #000000;
color: #ffffff;

border: none;
border-radius: 0;
min-height: 0;
font-family: 'JetBrainsMono Nerd Font', sans-serif;
font-size: 16px; /* Powiększone z 12px */
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
all: initial;
color: #ffffff;
padding: 0 6px;
margin: 0 2px;
min-width: 10px;
}

#workspaces button.empty {
opacity: 0.5;
}

#workspaces button.active {
font-weight: bold;
}

#cpu,
#battery,
#pulseaudio,
#custom-nixos,
#mpris {
min-width: 12px;
margin: 0 7px;
}

#tray {
margin-right: 16px;
}

#bluetooth {
margin-right: 16px;
}

#network {
margin-right: 14px;
}

#custom-expand-icon {
margin-right: 17px;
}

tooltip {
  background-color: #000000;
  border: 2px solid #333333;
  padding: 4px; /* Lekko powiększony padding */
}

tooltip label {
  color: #ffffff;
}

#clock {
/*margin-left: 13px;*/
}

.hidden {
  opacity: 0;
}
